ClientWSAllocine/Service References/WSAlloCine/ServiceAllocine.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://allocinews.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://allocinews.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://allocinews.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RechercheAllocine">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCritere" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RechercheAllocineResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RechercheAllocineResult" type="tns:ArrayOfFicheAllocine" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFicheAllocine">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FicheAllocine" nillable="true" type="tns:FicheAllocine" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FicheAllocine">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Titre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="URL" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="RechercheAllocineSoapIn">
    <wsdl:part name="parameters" element="tns:RechercheAllocine" />
  </wsdl:message>
  <wsdl:message name="RechercheAllocineSoapOut">
    <wsdl:part name="parameters" element="tns:RechercheAllocineResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceAllocineSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RechercheAllocine">
      <wsdl:input message="tns:RechercheAllocineSoapIn" />
      <wsdl:output message="tns:RechercheAllocineSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceAllocineSoap" type="tns:ServiceAllocineSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://allocinews.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RechercheAllocine">
      <soap:operation soapAction="http://allocinews.org/RechercheAllocine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceAllocineSoap12" type="tns:ServiceAllocineSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://allocinews.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RechercheAllocine">
      <soap12:operation soapAction="http://allocinews.org/RechercheAllocine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceAllocine">
    <wsdl:port name="ServiceAllocineSoap" binding="tns:ServiceAllocineSoap">
      <soap:address location="http://localhost:53083/AllocineWS/ServiceAllocine.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceAllocineSoap12" binding="tns:ServiceAllocineSoap12">
      <soap12:address location="http://localhost:53083/AllocineWS/ServiceAllocine.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>